    <!--!footer-ödeme-bilgisi-->
    <div class="container1 container mt-5 mb-5">
        <div class="col1">
          <div class="ikon"><i class="fa-solid fa-truck"></i></div>
          <div class="icerik">
            <span class="fw-bold">TÜM ÜRÜNLERDE ÜCRETSİZ KARGO</span>
            <p>Tüm siparişlerinizde aynı gün hızlı kargo!</p>
          </div>
        </div>
        <div class="col1">
          <div class="ikon"><i class="fa-solid fa-rotate-right"></i></div>
          <div class="icerik">
            <span class="fw-bold">DEĞİŞİM & HAKKI</span>
            <p>Tüm ürünlerde Değişim Hakkı!</p>
          </div>
        </div>
        <div class="col1">
          <div class="ikon"><i class="fa-solid fa-lock"></i></div>
          <div class="icerik">
            <span class="fw-bold"> GÜVENLİ ALIŞVERİŞ</span>
            <p>256 BIT SSL Korumalı Online Alışveriş</p>
          </div>
        </div>
        <div class="col1">
          <div class="ikon"><i class="fa-regular fa-credit-card"></i></div>
          <div class="icerik">
            <span class="fw-bold"> KAPIDA ÖDEME KOLAYLIĞI</span>
            <p>Güvenli ve Pratik Ödeme Seçeneği!</p>
          </div>
        </div>
    </div>