{% extends "index.html" %}
{% load static %}
{% block content %}

{% include "includes/_navbardark.html" %}

<section class="h-75 mt-5">
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center">Şifre Değiştirme</h1>
            <form action="" method='POST'>
                {% csrf_token%}
          
                <label class="form-label" >Mevcut Şifre</label>
                <input type="password" name="currentPassword" id="" class="form-control">

                <label class="form-label" >Yeni Şifre</label>
                <input type="password" name="newPassword1" id="" class="form-control">

                <label class="form-label" >Yeni Şifre Tekrar</label>
                <input type="password" name="newPassword2" id="" class="form-control">

                <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-dark mt-3">
              </form>
              {% include "includes/_messagesalert.html" %}
              
        </div>
    </div>
</section>

{% endblock content %}
