{% extends "index.html" %} 
{% load static %} 
{% block content %} 
{% include "includes/_navbardark.html" %}

<div class="container-fluid  mt-5 ">
  <div class=" row justify-content-center">
    <div  style="background-color: #f3f3f3" class="col-sm-5 card mb-5 "  >
      <div id="müsteri-form">
        <form id="form">
          <div>
            <div class="row w-100" id="user-info">
              <div class="col-sm-6 card-body">
                <input type="text" class="form-control" placeholder="İsim" value="{{order.customer}}" required />
              </div>
              <div class="col-sm-6 card-body">
                <input type="email" class="form-control" placeholder="Email" value="{{order.customer.email}}" required />
              </div>
            </div>
            <hr />

            <div class="card-body" id="shipping-info">
              <p><strong>Adres Bilgileri</strong></p>
              <div class="row">
                <div class="col-sm-6">
                  <input
                    type="text"
                    name="address"
                    class="form-control"
                    placeholder="Adres"
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="text"
                    name="city"
                    class="form-control"
                    placeholder="Şehir"
                    required
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6">
                  <input
                    type="text"
                    name="state"
                    class="form-control"
                    placeholder="Ülke"
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="text"
                    name="zipcode"
                    class="form-control"
                    placeholder="Postakodu"
                    required
                  />
                </div>
              </div>
            </div>

            <button id="devam-et" type="submit" class="btn btn-dark mt-4 w-100 rounded-0">Devam Et</button>
          </div>
        </form>
      </div>
      
      <button id="ödeme" type="submit" class="visually-hidden btn btn-primary mt-4 w-100 rounded-0 ">Ödeme Yap</button>
    </div>

    <div class="col-sm-6 mb-5" >
      <div class="row" style="color: #f3f3f3">
        <div class="">
          <div class="card">
            <div class="card-header">
              <h1>
                <a class="btn btn-dark" href="{% url 'sepet' %}"><i class="fa-solid fa-arrow-left" style="color: #ffffff"></i>Sepete Geri Dön</a>
              </h1>
              <hr />
              <h1>Sipariş Özeti</h1>
              <div class="card-body">
                {% if items %}
                <div class="kartlar">
                  {% for item in items %}
                  <div class="products-sepet">
                    
                    <div class="product">
                      <img
                        src="{{item.product.resimbir.url }}"
                        style="max-width: 190px"
                      />
                      <span class="sm-hide">{{item.product.isim}}</span>
                    </div>

                    <div class="price sm-hide">
                      ₺{{item.product.price|floatformat:2}}
                    </div>

                    <div class="quantity">
                      <span>X{{item.quantity}}</span>
                    </div>
                   
                  </div>
                  {% endfor %}
                </div>

                {% endif %}
                <div class="row">
                  <div class="col-sm-4">
                    <p>
                      Toplam Ürün:
                      <strong>{{order.get_cart_items}} Adet</strong>
                    </p>
                  </div>
                  <div class="col-sm-5">
                    <p>
                      Sepet Toplam Fiyat:
                      <strong>{{order.get_cart_total}}₺</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
</div>


<script>
  
  let shipping = '{{order.shipping}}'
  let total = '{{order.get_cart_total}}'
  console.log(shipping,total)
  
  if(shipping == 'False' || user == 'AnonymousUser'){
    document.getElementById('shipping-info').innerHTML=''
    document.getElementById('ödeme').style.display='none'
  }

  if(user != 'AnonymousUser'){
    document.getElementById('user-info').innerHTML =''
  }

  if(shipping == 'False' && user != 'AnonymousUser'){
    document.getElementById('müsteri-form').classList.add('visually-hidden')
    document.getElementById('ödeme').classList.remove('visually-hidden')
  }

  let form = document.getElementById('form')

  form.addEventListener('submit', function(e){
    e.preventDefault()
    console.log('Form submitted...')
    document.getElementById('devam-et').classList.add('visually-hidden')
    document.getElementById('ödeme').classList.remove('visually-hidden')
  });

  document.getElementById('ödeme').addEventListener('click', function(e){
    submitFormData()
  }) 

  function submitFormData(){
    console.log('Ödeme Butuno Tıklandı')

    let userFormData = {
      'name':null,
      'email':null,
      'total': total,
    }

    let shippingInfo = {
      'address':null,
      'city':null,
      'state': null,
      'zipcode': null,
    }

    if(shipping != 'False'){
      shippingInfo.address  = form.address.value
      shippingInfo.city  = form.city.value
      shippingInfo.state  = form.state.value
      shippingInfo.zipcode  = form.zipcode.value
    }

    if (user == 'AnonymousUser'){
      userFormData.name = form.name.value
      userFormData.email = form.email.value
    }

    let url ='/process_order/'
    fetch(url,{
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken':csrftoken,
      },
      body:JSON.stringify({'form':userFormData, 'shipping': shippingInfo}),
    })
    .then((response) => response.json())
    .then((data) => {
      console.log('Success:', data);
      alert('İşlem Tamamlandi');
      window.location.href = "{% url 'index' %}"
    })

  }

</script>
{% endblock content %}
